body {
    font-family: 'Raleway', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    height: 120vh;
}

#extrovert{
    background-color: #E944BA;
    height: 1.5rem;
    border-radius: 5px;
    width: 100%;
}

#ambivert{
    background-color: #E944BA;
    height: 1.5rem;
    border-radius: 5px;
    width: 100%;
}

#introvert{
    background-color: #44CDE9;
    height: 1.5rem;
    border-radius: 5px;
    width: 100%;
}

#breakdown{
    border: 1px solid grey;
    margin: 4rem auto;
    max-width: 680px;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    height: 15rem;
}

#breakdown p {
    font-size: 1.5rem;
}

#introvert-percentage, #extrovert-percentage{
    font-size: 1rem;
    text-align: left;
}

.progress-bar{
    background-color: white;
    border: 1px solid grey;
    height: 1.5rem;
    border-radius: 5px;
    margin: .5rem 0;
}

label {
    font-size: 1.2rem;
    display: inline-block;
    margin: .5rem 0;
}

#main-heading{
    font-size: 1.5rem;
    text-align: center;
    max-width: 580px;
    width: 100%;
    margin: 4rem auto;
}

#wrapper{
    border: 1px solid grey;
    margin: 8rem auto;
    max-width: 680px;
    padding: 2rem;
    border-radius: 10px;
    height: 15rem;
}

.fade {
    animation: fadeIn 1.25s ease-in-out;
}

.results {
    animation: loadResults 3s ease-in-out;
}

#results p {
    font-size: 1.5rem;
}

#results {
    display: flex;
    background-color: #F4F5F5;
    border: 1px solid grey;
    margin: 1rem auto;
    max-width: 680px;
    padding: 2rem;
    border-radius: 10px;
    height: 15rem;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

#confirm-btn {
    padding: .75rem 1.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    border-radius: 7px;
    background-color: #2060E8;
    color: white;
    border: none;
    transition: all .5s;
}

#confirm-btn:hover {
    cursor: pointer;
    background-color: #4478E9;
}

@keyframes fadeIn {
    from {
        opacity: 20%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes loadResults {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #wrapper{
        height: 20rem;
        margin: 2rem 0;
    }

    #breakdown {
        max-width: 300px;
        width: 100%;
    }

    #option-a, #option-b {
        width: 90%;
        font-size: 1.1rem;
    }

    #results-text {
        font-size: 2.5rem;
    }

    #main-heading{
        font-size: 1.5rem;
        text-align: center;
    }
}